body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: #879bbc;
}

.flex-container {
  display: flex;
  position: relative; /* Contains absolutely positioned children */
  min-height: 100vh; 
}

.left-column {
  position: fixed;
  width: 50%;
  overflow: hidden;
  text-align: center;
  
}

.right-column {
  margin-left: 50%;
  width: 50%;
  overflow-y: auto;

}

@media (max-width: 768px) {
  .flex-container {
    display: block; /* Stack the columns */
  }

  .left-column,
  .right-column {
    position: static; /* Reset positioning */
    width: 100%; /* Each column takes full width */
    margin-left: 0; /* Reset margin for the right column */
  }
}
