.card {
  background-color: #0f172c;
  color: #879bbc;;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px; /* Adjust the width as needed */
  font-family: 'Arial', sans-serif;
}

.card-header {
  margin-bottom: 20px;
}

.date-range {
  color: #7f8c8d;
  font-size: 0.8rem;
}

.title {
  margin: 10px 0;
  color: #ffffff;
}

.roles div {
  font-size: 0.9rem;
  color: #7f8c8d;
}

.card-body {
  font-size: 0.9rem;
  line-height: 1.4;
  margin-bottom: 20px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  background-color: #34495e;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 0.8rem;
}
